
@import 'tailwindcss';
@import '../../../../vendor/filament/filament/resources/css/theme.css';


@source '../../../../app/Filament/User/**/*';
@source '../../../../resources/views/filament/user/**/*';


  @font-face {
    font-family: 'Bank Gothic';
    src: url('../../../fonts/BankGothic-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../../../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../../../fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../../../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../../../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../../../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

.container {
  @apply px-2 2xl:px-5 max-w-(--breakpoint-2xl) mx-auto;
}

.fi-body {
  background-color: #fff;
}
.fi-topbar {
  display: none;
}

.fi-layout {
  @apply max-w-screen-2xl mx-auto mt-6 mb-6;
  

}

.fi-modal-window{
  border-radius: 0px;
}
.fi-header-heading {
  @apply text-3xl font-medium;

}
.fi-ta-ctn {
  --tw-shadow:none;
}
/*.fi-ta-header-toolbar {
  display: none;
}*/
.fi-sidebar-nav {
  @apply p-0;
}
.fi-sidebar-nav-groups {
  @apply bg-[#F8F8F8] p-8;
}
.fi-sidebar-item.fi-active .fi-sidebar-item-btn{
  @apply bg-white rounded-none border-l-2 border-[#2D92CE];
}
.fi-ta-selection-cell {
  display: none;
}

.fi-pagination {
  display: flex;
  justify-content: center;
}
.fi-pagination .fi-pagination-items {
  border: none;
  box-shadow: none;
}
.fi-pagination-item {
  border: none;
}
.fi-pagination-item.fi-active {
  color:#2D92CE;
  border-bottom: 1px solid #2D92CE;
}
.fi-pagination-item .fi-icon{
  color:#2D92CE;
}
.fi-ta-table thead .fi-ta-header-cell, .fi-ta-table thead .fi-ta-actions-header-cell{
  @apply bg-white text-2xl font-medium;
  font-family: 'Bank Gothic', sans-serif;
}

@media (max-width: 768px) {
  .fi-ta-cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.fi-header {
  font-family: 'Bank Gothic', sans-serif;
  @apply text-3xl;
}

.fi-section, .fi-page-header-main-ctn {
  border: none;
  box-shadow: none;
  border-radius: 0px;

  background-color: #F8F8F8;
  @apply px-8;
}

.fi-fo-field {
  grid-template-columns: 1fr;
}
.fi-fo-field-label .fi-fo-field-label-content{
  font-weight: 400;
  color: #828282;
  font-size: 16px;
}
.fi-ac-btn-action {
  border-radius: 0px;
  background-color: #2D92CE;
  color: #fff;
}
.fi-input-wrp {
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  padding: 6px;

  background-color: #F8F8F8;
}
.fi-input-wrp-content-ctn {
  border-radius: 0px;
  box-shadow: none;
  border: none;

}
.fi-input-wrp-content-ctn input, .fi-fo-select, .fi-input-wrp-content-ctn {
  background-color: #F8F8F8;
  border-radius: 0px;
  box-shadow: none;
  border: none;
}
.fi-fo-rich-editor-main {
  background-color: #FFFFFF;
}
.fi-ac {
  background-color: #F8F8F8;
}

.profile_user_block .fi-input-wrp {
  background-color: #FFFFFF;
}
.profile_user_block input, .profile_user_block .fi-fo-select, .profile_user_block .fi-input-wrp-content-ctn {
  background-color: #FFFFFF;
}
.photo_wrapper {
  display: flex;
  align-items: center;
  column-gap: 2em;
  flex-direction: row-reverse;
  max-width: 320px;
  justify-content: start;
}
.photo_wrapper .fi-fo-field-label-col .fi-fo-field-label-ctn .fi-fo-field-label-content{
  font-weight: 600;
  color: #2E325C;
}
.photo_wrapper .fi-fo-field-label-col{
  flex-shrink: 0;
  max-width: 110px;
}
.fi-wi-stats-overview-stat {
  border-radius: 0px;
  box-shadow: none;
}
.fi-section-not-contained {
  @apply pl-0 pr-0;
}

.fi-wi-stats-overview-stat {
  padding: 1em;
}

.ymaps-2-1-79-searchbox,
.ymaps-2-1-79-searchbox-button,
[class*="ymaps"][class*="searchbox"] {
    display: none !important;
}

/* Все уведомления */
.fi-no-notification {
    border-radius: 0;
    box-shadow: 0 10px 25px rgb(0 0 0 / 0.1);
}

.hide-repeater-header-label .fi-fo-repeater-item {
    position: relative;
}
.hide-repeater-header-label .fi-fo-repeater-item-header {
    padding: 0 !important;

    padding-inline: 0 !important;
    padding-block: 0 !important;
}
.hide-repeater-header-label .fi-color-danger{
  position: absolute;
  bottom: 30px;
  right: 20px;
}
.hide-repeater-header-label .fi-fo-repeater-item {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.hide-repeater-header-label .fi-fo-repeater-item-content {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
.hide-repeater-header-label .fi-fo-repeater-item-content .fi-sc {
  border: none !important;
  box-shadow: none !important;
}
.hide-repeater-header-label .fi-fo-repeater-item-content .fi-fo-field-label-ctn {
  display: none;
}